@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  width: 250px;
  height: 400px;
  border-radius: 15px;
}

.figure1 {
  margin: 5px;
  transform: translateX(-80px);
  font-size: 60px;
}

.figure2 {
  margin: 5px;
  font-size: 60px;
  transform: translateX(80px) rotate(180deg);
}
